// body, img, h2, h3 {

// 	padding: 0;
// 	margin:0;
	
// }

.mb_page_wrapper {
	width: 100%!important;
}



/* pre-loader */
	
#preloader-overlay {
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 9999;
		
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#16577f+0,ffffff+100 */
background: #16577f; /* Old browsers */
background: -moz-linear-gradient(top, #16577f 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #16577f 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #16577f 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16577f', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

#preloader-overlay .preloader {
    background: url("/MBPromoImages/Microsites/Rosa2016/BehindBlend/preloader.png") no-repeat;
    width: 41px;
    height: 41px;
    margin: -19px 0 0 -19px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}


    /* overlay */
    .uncharted-wrap .overlay {
        background: rgba(0,0,0,0.8);
        display: none; 
        height: 100%;
        left: 0;
        padding: 10%;
        position: fixed; 
        top: 0; 
        width: 100%;
        text-align: center;
        z-index: 9999;  
    }
        .uncharted-wrap .overlay.active { 
            display: block; 
        }   
        .uncharted-wrap .overlay > span { 
            display: block;
            font-size: 14px; 
            line-height: 32px;              
            margin: 20px auto 0 auto; 
            color: #ffffff;
            cursor: pointer;
            background: #464646; 
            text-align: center;             
            width: 110px;
        }
            .uncharted-wrap .overlay > span:hover { 
                background:#606060; 
            }   

    /* animated content */
    .uncharted-wrap .overlay > span {     
        -webkit-transition: all .4s ease-in-out .2s;
        -moz-transition: all .4s ease-in-out .2s;
        -ms-transition: all .4s ease-in-out .2s;
        -o-transition: all .4s ease-in-out .2s;
        transition: all .4s ease-in-out .2s;        
    }

    @keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}


/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/*Social Share Buttons */
.share-footer {
    width: 100%;
    text-align: center;
    height: 210px;
    display: inline-block;
    margin-top: -40px;
}

.share-footer i {
        padding-top: 20px;
    padding-bottom: 14px;
    display: inline-block;
    font-size: 18px;
}

        .mobile {
            display: none;
        }
        .desk {
            display: block;
        }


        
        .share-footer .socials-36 {
            background: url("http://www.moltonbrown.co.uk/MBPromoImages/Microsites/pearhoney2017/BehindBlend/social-share.png") no-repeat 0 0;
            display: inline-block;
            font-size: 0;
            height: 32px;
            vertical-align: middle;
            width: 198px;
        }
        .share-footer .twitter {
            background-position: 0 -42px;
        }
        .share-footer .email {
            background-position: 0 -84px;
        }
        .share-footer ul {
            margin: 7px 0;
        }
        .share-footer ul li {
            display: inline-block;
            margin-right: 10px!important;
        }
        .share-footer p {
            padding-top: 3%;
        }


                @media only screen and (min-width: 0px) and (max-width : 767px) { 
        .mobile {
            display: block;
        }
        .desk {
            display: none;
        }

        .share-footer {
                margin-top: -17px;
                height: 126px
        }
        .share-footer ul li {
            padding-top: 5px;
        }

         /*Mobile: Social Share Buttons */
            .share-footer .socials-36 {
                background: url("http://www.moltonbrown.co.uk/MBPromoImages/Microsites/pearhoney2017/BehindBlend/social-share-m.png")no-repeat 0 0;
                background-size: 94px;
                display: inline-block;
                font-size: 0;
                vertical-align: middle;
                width: 92px;
            }
    
            
            .share-footer .twitter {
                background-position: 0 -32px;
            }
            .share-footer .email {
                background-position: 0 -65px;
            }
            .share-footer ul {
                margin: 7px 0;
            }
            .share-footer ul li {
                display: inline-block;
                margin-right: 2px!important;
            }
            .share-footer-wrapper {
            text-align: center;
            height: 97px;
            }
        
}


