
// global styles
.absolute-center {
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}

.trebuchet {
	font-family: 'Trebuchet', Trebuchet MS!important;
}

.georgia {
	font-family: Georgia, 'Times New Roman', Times, serif !important;
	 -webkit-font-smoothing: antialiased !important;
}

.mobonly {display: none!important;}
.deskonly {display: block!important}
@media only screen and (min-width: 0px) and (max-width : 767px) { 
.mobonly {display: block!important;}
.deskonly {display: none!important}
}
