.hero {
		position: relative;
		background: url("images/01_Intro_Back-up-Still-Image.jpg") 50% 50% no-repeat;
		background-size: cover;
	    background-position: center center; 
	    min-height: 786px;


.innerContent {
			margin: 0 auto;

			h2 {
				font-size: 33px;
				color: #fff;
				font-family: 'Trebuchet', Trebuchet MS!important;
				text-align: center;
				padding-top: 35px;
				margin: 0 auto;
			}

			
			h3 {
				font-size: 18px;
				text-align: center;
				color: #fff;
				font-weight: normal;
			    padding-top: 6px;
			}

			h1 {
				font-size: 60px;
				padding-top: 115px;
				text-align: center;
				color: #fff;
				font-family: 'Trebuchet', Trebuchet MS!important;
					&:after {
					content: url('images/dive-in.png');
					display: block;
	    			padding-top: 94px;
			}

			}
		}
	} 
	// hero

// mobile only
@media only screen and (min-width: 0px) and (max-width : 767px) { 

	
	.hero {
		background: url("images/mobile-intro.gif") 50% 50% no-repeat;
		background-size: cover;
    	// background-attachment: fixed;
    	background-position: 100% 100%; 
    	min-height: 846px;

		h2 {
			width: 60%;
		}
		img {
			display: none;
		}
		h1 {
			width: 77%;
			margin: 0 auto;
		}

	}
}// mobile breakpoint