.hero {
		position: relative;
		background: url("MBPromoImages/Website_Assets/into-the-uncharted2/01_Intro_Back-up-Still-Image.jpg") 50% 50% no-repeat;
		background-size: cover;
	    background-position: center center; 
	    min-height: 850px;


.innerContent {
			margin: 0 auto;
			max-width: 600px;
			text-align: center;

			h2 {
				font-size: 33px;
				color: #fff;
				font-family: 'Trebuchet', Trebuchet MS!important;
				text-align: center;
				padding-top: 35px;
				margin: 0 auto;
			}

			
			h3 {
				font-size: 18px;
				text-align: center;
				color: #fff;
				font-weight: normal;
			    padding-top: 6px;
			}

			h1 {
				font-size: 60px;
				padding-top: 115px;
				text-align: center;
				color: #fff;
				font-family: 'Trebuchet', Trebuchet MS!important;
				padding-bottom: 233px;
			// 		&:after {
			// 		content: url('MBPromoImages/Website_Assets/into-the-uncharted/dive-in.png');
			// 		display: block;
	  //   			padding-top: 94px;
			// }

			}
			.divein-logo {
			-webkit-border-radius:100%;
			-moz-border-radius:100%;
			-ms-border-radius:100%;
			border-radius:100%;
			border: 2px solid #fff;
			width: 60px;
			height: 60px;
			position: relative;
			margin: 0 auto;


			img {
				
			}

			}

			p {
				font-size: 14px;
				color: #fff;
				padding-top: 17px;
			}
		}
	} 
	// hero

// mobile only
@media only screen and (min-width: 0px) and (max-width : 767px) { 

	
	.hero {
		background: url("MBPromoImages/Website_Assets/into-the-uncharted2/mobile-intro.gif") 50% 50% no-repeat;
		background-size: cover;
    	// background-attachment: fixed;
    	background-position: 100% 100%; 
    	// min-height: 442px;
	    // height: 500px;
	    height: 93vh;
	    min-height: 80vh;
    	.innerContent {
    		max-width: 100%;
		h2 {
			width: 50%;
			font-size: 22px;
		}

		h3 {
			font-size: 14px;
		}

		h1 {
			width: 90%;
			margin: 0 auto;
			font-size: 40px;
			padding-top: 50px;
			padding-bottom: 50px;
		}
				.divein-logo {
			display: inline-block;
			
			
		}
    	}




	}
}// mobile breakpoint