.section4 {
    position: relative;
    background: url("MBPromoImages/Website_Assets/into-the-uncharted/05_Carlas-Creation.jpg") 50% 50% no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    background-position: center center;
    height: 844px;
    h2 {
        font-size: 25px;
        color: #fff;
        text-align: center;
        font-family: 'Trebuchet', Trebuchet MS!important;
        padding-top: 50px;
    }
    h3 {
        font-size: 48px;
        color: #fff;
        text-align: center;
    }
    .s4wrap {
        width: 750px;
        margin: 0 auto;
        position: relative;
        .innerContent {
            background-color: rgba(6, 22, 32, 0.9);
            min-height: 360px;
            margin: 20px auto;
            max-width: 438px;
            padding: 57px;
            position: absolute;
            left: -56px;
            p {
                font-size: 20px;
                color: #fff;
                -webkit-font-smoothing: antialiased !important;
                font-style: italic;
                font-family: Georgia;
                line-height: 25px;
                &:before {
                    background: url("MBPromoImages/Website_Assets/into-the-uncharted/quote.png") 100% no-repeat;
                    content: url('');
                    top: 3px;
                    left: 30px;
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    display: inline-block;
                }
                &:last-child {
                    font-size: 14px;
                    font-family: 'Trebuchet', Trebuchet MS!important;
                    font-style: normal;
                    font-size: 14px;
                    padding-top: 30px;
                    line-height: 16px;
                    span {
                        font-weight: bold;
                    }
                }
            }
        } // innercontent
        .section4Video {
            padding-top: 235px;
        }
    }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .section4 {
        height: 820px;
        background-position: -1280px;
        h2 {
            font-size: 18px;
            color: #fff;
            text-align: center;
            font-family: 'Trebuchet', Trebuchet MS!important;
            padding-top: 25px;
            margin: 0;
        }
        h3 {
            font-size: 34px;
            color: #fff;
            text-align: center;
            padding: 0;
            margin: 0;
        }
        .s4wrap {
            width: 285px;
            margin: 0 auto;
            .innerContent {
                width: 285px;
                left: 0;
                display: block;
                text-align: center;
                padding: 42px;
                p {
                    font-size: 20px;
                }
                p:last-child {
                    padding-top: 10px;
                }
            }
            .section4Video {
                img {
                    width: 100%;
                    padding-top: 505px;
                }
                padding-top: 0;
            }
        }
    }
}