.section6 {
		position: relative;
		background: url("MBPromoImages/Website_Assets/into-the-uncharted2/07_Immerse-Yourself.jpg") 50% 50% no-repeat;
		background-size: cover;
	    // background-attachment: fixed;

    height: 848px;

	    	    h2 {
	    	font-size: 48px;
	    	color: #fff;
	    	text-align: center;
	    	font-family: 'Trebuchet', Trebuchet MS!important;
	    	padding-top: 50px;
	    }
	    h3 {
	    	font-size: 25px;
	    	color: #fff;
	    	text-align: center;

	    }

	    					.player {
						position: absolute;
  						top: 50%;
						left: 50%;
					    -webkit-transform: translate(-50%, -50%);
				    	-ms-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						width: 70px;
						height: 70px;
						-moz-border-radius: 50px;
						-webkit-border-radius: 50px;
						border-radius: 50px;
						border: 3px solid #fff;
						cursor: pointer;
						img {
							position: absolute;
							width: 35px;
  							top: 10px;
							left: 16px;;

						}
					}


}


@media only screen and (min-width: 0px) and (max-width : 767px) {
	.section6 {
				height:575px;
			    background-position: -207px;

	    	    h2 {
	    		font-size: 34px;
	    		color: #fff;
	    	    padding-top: 25px;
    			margin: 0;

	    }
	    h3 {
	    	font-size: 18px;
	    	color: #fff;
	    	text-align: center;
    	    margin: 0;
		    padding: 0;

	    }


}
}