.section6 {
		position: relative;
		background: url("MBPromoImages/Website_Assets/into-the-uncharted/07_Immerse-Yourself.jpg") 50% 50% no-repeat;
		background-size: cover;
	    // background-attachment: fixed;
	    background-position: center center; 
	    height: 844px;

	    	    h2 {
	    	font-size: 25px;
	    	color: #fff;
	    	text-align: center;
	    	font-family: 'Trebuchet', Trebuchet MS!important;
	    	padding-top: 50px;
	    }
	    h3 {
	    	font-size: 48px;
	    	color: #fff;
	    	text-align: center;

	    }


}