.section7 {
    position: relative;
    background: url("MBPromoImages/Website_Assets/into-the-uncharted/08_Your-Adventure.jpg") 50% 50% no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    background-position: center center;
    height: 920px;
    h2 {
        font-size: 25px;
        color: #fff;
        text-align: center;
        font-family: 'Trebuchet', Trebuchet MS!important;
        padding-top: 50px;
    }
    h3 {
        font-size: 48px;
        color: #fff;
        text-align: center;
        padding-bottom: 20px;
    }
    .s7wrap {
        width: 883px;
        margin: 0 auto;
        position: relative;
        height: 695px;
        padding-top: 16px;

        .innerContent {
            max-width: 500px;
            background-color: rgba(6, 22, 32, 0.9);
            padding: 20px;
            position: absolute;
            height: 670px;
            p {
                font-size: 14px;
                color: #fff;
                line-height: 16px;
                padding-bottom: 24px;
                -webkit-font-smoothing: antialiased !important;
                width: 90%;
                margin: 0 auto;
            }
            p:nth-child(1) {
                text-align: center;
                font-size: 14px;
                font-family: 'Trebuchet', Trebuchet MS!important;
                margin-top: 20px;
            }
            p:nth-child(2) {
                text-align: center;
                font-size: 14px;
                font-family: 'Trebuchet', Trebuchet MS!important;
            }
            li {
                font-size: 14px;
                color: #fff;
                padding-bottom: 29px;
                -webkit-font-smoothing: antialiased !important;
                position: relative;
                margin-left: 50px;
                line-height: 21px;
                &:nth-child(1) {
                    width: 86%;
                    &:before {
                        content: "1.";
                        position: absolute;
                        font-size: 48px;
                        font-family: Georgia;
                        font-style: italic;
                        left: -45px;
                        bottom: 40px;
                    }
                } //nth-child 1
                &:nth-child(2) {
                    width: 81%;
                    &:before {
                        content: "2.";
                        position: absolute;
                        font-size: 48px;
                        font-family: Georgia;
                        font-style: italic;
                        left: -50px;
                        bottom: 38px;
                    }
                } //nth-child 2
                &:nth-child(3) {
                    width: 56%;
                    &:before {
                        content: "3.";
                        position: absolute;
                        font-size: 48px;
                        font-family: Georgia;
                        font-style: italic;
                        left: -50px;
                        bottom: 39px;
                    }
                } //nth-child 3
                &:nth-child(4) {
                    width: 42%;
                    &:before {
                        content: "4.";
                        position: absolute;
                        font-size: 48px;
                        font-family: Georgia;
                        font-style: italic;
                        left: -50px;
                        bottom: 39px;
                    }
                } //nth-child 4
            }
        }
        .carousel {
            position: relative;
            .carousel-slide1 {
                position: absolute;
                width: 300px;
                right: 0px;
                width: 350px;
                right: 13px;
                top: 364px;
            }
            .carousel-slide2 {
                position: absolute;
                width: 300px;
                right: 63px;
                top: 156px;
            }
            .carousel-slide3 {
                position: absolute;
                width: 240px;
                left: 270px;
                top: 537px
            }
            .carousel-slide4 {
                position: absolute;
                width: 170px;
                left: 340px;
                top: 413px;
            }
            .carousel-slide5 {
                position: absolute;
                top: 608px;
                right: 193px;
                width: 170px;
            }
            .carousel-slide6 {
                position: absolute;
                top: 608px;
                right: 14px;
                width: 170px;
            }
        }
    }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .section7 {
        height: 1205px;
        h2 {
            font-size: 18px;
            color: #fff;
            text-align: center;
            font-family: 'Trebuchet', Trebuchet MS!important;
            padding-top: 25px;
            margin: 0;
        }
        h3 {
            font-size: 34px;
            color: #fff;
            text-align: center;
            padding-bottom: 0;
            margin: 0;
        }
        .s7wrap {
            width: 280px;
            .innerContent {
                height: 870px;
                max-width: 280px;
                margin: 0 auto;
                li {
                    font-size: 14px;
                    color: #fff;
                    padding-bottom: 29px;
                    -webkit-font-smoothing: antialiased !important;
                    position: relative;
                    margin-left: 50px;
                    line-height: 16px;
                    &:nth-child(1) {
                        width: 63%;
                    } //nth-child 1
                    &:nth-child(2) {
                        width: 67%;
                    } //nth-child 2
                    &:nth-child(3) {
                        width: 80%;
                    } //nth-child 3
                    &:nth-child(4) {
                        width: 66%;
                    } //nth-child 4
                }
            }
            .carousel {
                width: 280px;
                margin-left: -20px;
                top: 30px;
                .carousel-slide1, .carousel-slide2, .carousel-slide3, .carousel-slide4, .carousel-slide5, .carousel-slide6 {
                    position: inherit;
                    width: 100%;
                }
            }
            .slick-slide img {
                width: 100%!important;
                &:hover {
                    transform: scale(1);
                    -ms-transform: scale(1);
                    -webkit-transform: scale(1);
                }
            }
            .slick-prev,
            .slick-next {
                top: 46%;
            }
        }
    }
}