body, img, h2, h3 {
  padding: 0;
  margin: 0;
}

body {
  min-width: 100% !important;
}

/* pre-loader */
#preloader-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#16577f+0,ffffff+100 */
  background: #16577f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #16577f 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #16577f 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #16577f 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16577f', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

#preloader-overlay .preloader {
  background: url("/MBPromoImages/Microsites/Rosa2016/BehindBlend/preloader.png") no-repeat;
  width: 41px;
  height: 41px;
  margin: -19px 0 0 -19px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* overlay */
.uncharted-wrap .overlay {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  left: 0;
  padding: 10%;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
}

.uncharted-wrap .overlay.active {
  display: block;
}

.uncharted-wrap .overlay > span {
  display: block;
  font-size: 14px;
  line-height: 32px;
  margin: 20px auto 0 auto;
  color: #ffffff;
  cursor: pointer;
  background: #464646;
  text-align: center;
  width: 110px;
}

.uncharted-wrap .overlay > span:hover {
  background: #606060;
}

/* animated content */
.uncharted-wrap .overlay > span {
  -webkit-transition: all .4s ease-in-out .2s;
  -moz-transition: all .4s ease-in-out .2s;
  -ms-transition: all .4s ease-in-out .2s;
  -o-transition: all .4s ease-in-out .2s;
  transition: all .4s ease-in-out .2s;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.trebuchet {
  font-family: "Trebuchet", Trebuchet MS !important;
}

.georgia {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  -webkit-font-smoothing: antialiased !important;
}

/*top bar*/
.features-tb {
  width: 100%;
}

.features-tb ul li {
  display: inline-block;
  margin-left: 4px;
  margin-top: 5px;
}

.features-tb ul {
  text-align: right;
  margin-right: 8px;
  margin: 0 auto;
}

.fs-36 {
  background: url(http://www.moltonbrown.co.uk/MBPromoImages/Microsites/Features/features-sprite-72.png) no-repeat 0 0;
  background-size: 36px;
  display: inline-block;
  font-size: 0;
  height: 36px;
  vertical-align: middle;
  width: 36px;
  background-position: 0 -46px;
  float: right;
}

.features-link {
  float: left;
  display: block;
  margin-top: 16px;
  margin-left: 44px;
  font-size: 15px;
  color: #000;
  text-decoration: none;
}

.features-link:before {
  border-top: 5px solid transparent;
  border-right: 5px solid;
  border-bottom: 5px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  margin-right: 7px;
  vertical-align: middle;
  visibility: visible;
  width: 0;
}

#gift-concierge i, #gift-concierge em {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .features-tb ul {
    width: 100% !important;
  }
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 0;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 91.53%;
}

.span_10_of_12 {
  width: 83.06%;
}

.span_9_of_12 {
  width: 74.6%;
}

.span_8_of_12 {
  width: 66.13%;
}

.span_7_of_12 {
  width: 57.66%;
}

.span_6_of_12 {
  width: 49.2%;
}

.span_5_of_12 {
  width: 40.73%;
}

.span_4_of_12 {
  width: 32.26%;
}

.span_3_of_12 {
  width: 23.8%;
}

.span_2_of_12 {
  width: 15.33%;
}

.span_1_of_12 {
  width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 0;
  }
  .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%;
  }
}

.uncharted-wrap .hero {
  position: relative;
  background: url("images/01_Intro_Back-up-Still-Image.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 786px;
}

.uncharted-wrap .hero .innerContent {
  margin: 0 auto;
}

.uncharted-wrap .hero .innerContent h2 {
  font-size: 33px;
  color: #fff;
  font-family: "Trebuchet", Trebuchet MS !important;
  text-align: center;
  padding-top: 35px;
  margin: 0 auto;
}

.uncharted-wrap .hero .innerContent h3 {
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-weight: normal;
  padding-top: 6px;
}

.uncharted-wrap .hero .innerContent h1 {
  font-size: 60px;
  padding-top: 115px;
  text-align: center;
  color: #fff;
  font-family: "Trebuchet", Trebuchet MS !important;
}

.uncharted-wrap .hero .innerContent h1:after {
  content: url("images/dive-in.png");
  display: block;
  padding-top: 94px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .uncharted-wrap .hero {
    background: url("images/mobile-intro.gif") 50% 50% no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    min-height: 846px;
  }
  .uncharted-wrap .hero h2 {
    width: 60%;
  }
  .uncharted-wrap .hero img {
    display: none;
  }
  .uncharted-wrap .hero h1 {
    width: 77%;
    margin: 0 auto;
  }
}

.uncharted-wrap .section2 {
  position: relative;
  background: url("images/03_The-Ingredients.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 786px;
}

.uncharted-wrap .section2 h2 {
  font-size: 48px;
  color: #fff;
  font-family: "Trebuchet", Trebuchet MS !important;
  text-align: center;
  padding-top: 66px;
  margin: 0 auto;
}

.uncharted-wrap .section2 h3 {
  font-size: 25px;
  text-align: center;
  color: #fff;
  font-weight: normal;
  padding-top: 6px;
}

.uncharted-wrap .section2 .innerContent {
  background-color: rgba(6, 22, 32, 0.9);
  height: 428px;
  width: 90%;
  margin: 200px auto;
  max-width: 780px;
  padding: 72px 66px 66px 66px;
}

.uncharted-wrap .section2 .innerContent:before {
  background: url("images/quote.png") 100% no-repeat;
  content: url("");
  top: 3px;
  left: 30px;
  width: 100px;
  height: 100px;
  position: absolute;
  display: inline-block;
}

.uncharted-wrap .section2 .innerContent .left {
  float: left;
  max-width: 360px;
}

.uncharted-wrap .section2 .innerContent .right {
  float: left;
  width: 283px;
}

.uncharted-wrap .section2 .innerContent .right .section2-right-1, .uncharted-wrap .section2 .innerContent .right .section2-right-2, .uncharted-wrap .section2 .innerContent .right .section2-right-3 {
  float: left;
  width: 80px;
}

.uncharted-wrap .section2 .innerContent .right .section2-right-1 p, .uncharted-wrap .section2 .innerContent .right .section2-right-2 p, .uncharted-wrap .section2 .innerContent .right .section2-right-3 p {
  font-size: 11px;
  width: 100%;
  text-align: center;
  line-height: 16px;
  padding-top: 14px;
  font-family: "Trebuchet", Trebuchet MS !important;
}

.uncharted-wrap .section2 .innerContent .right .section2-right-1, .uncharted-wrap .section2 .innerContent .right .section2-right-2 {
  margin-right: 20px;
}

.uncharted-wrap .section2 .innerContent p {
  font-size: 19px;
  width: 80%;
  color: #fff;
  font-style: italic;
  font-weight: normal;
  font-family: Georgia;
  line-height: 28px;
}

.uncharted-wrap .section2 .innerContent p:last-child {
  padding-top: 13px;
  font-style: normal;
  font-size: 14px;
}

.uncharted-wrap .section2 .innerContent p:last-child span {
  display: block;
  margin-top: -5px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .uncharted-wrap .section2 {
    height: 870px;
    background-position: -1220px;
  }
  .uncharted-wrap .section2 h2 {
    font-size: 34px;
    padding-top: 50px;
  }
  .uncharted-wrap .section2 h3 {
    font-size: 18px;
    margin-top: -5px;
  }
  .uncharted-wrap .section2 .innerContent {
    padding: 0px;
    height: 724px;
    max-width: 320px;
    margin: 133px auto;
  }
  .uncharted-wrap .section2 .innerContent:before {
    top: -3px;
    left: -26px;
    background-size: 50%;
  }
  .uncharted-wrap .section2 .innerContent p {
    text-align: center;
    margin: 0 auto;
    line-height: 24px;
    max-width: 230px;
    padding-top: 45px;
    font-size: 19px;
  }
  .uncharted-wrap .section2 .innerContent p:nth-child(2) {
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .uncharted-wrap .section2 .innerContent .left {
    width: 100% !important;
  }
  .uncharted-wrap .section2 .innerContent .right {
    width: 272px;
    margin: 0 auto;
    float: none;
  }
  .uncharted-wrap .section2 .innerContent .right p {
    font-size: 11px !important;
    line-height: 14px !important;
  }
  .uncharted-wrap .section2 .innerContent .right .section2-right-1, .uncharted-wrap .section2 .innerContent .right .section2-right-2 {
    margin-right: 15px;
  }
  .uncharted-wrap .section2 .innerContent p:last-child {
    padding-top: 13px;
    font-style: normal;
    font-size: 14px;
  }
  .uncharted-wrap .section2 .innerContent p:last-child span {
    display: block;
    margin-top: 0px;
    margin-bottom: 12px;
  }
}

.uncharted-wrap .section3 {
  position: relative;
  background: url("images/04_Cape-York.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 846px;
}

.uncharted-wrap .section3 h2 {
  font-size: 25px;
  color: #16577f;
  font-family: "Trebuchet", Trebuchet MS !important;
  text-align: center;
  padding-top: 35px;
  margin: 0 auto;
}

.uncharted-wrap .section3 h3 {
  font-size: 48px;
  text-align: center;
  color: #16577f;
  font-weight: normal;
  padding-top: 6px;
  font-family: "Trebuchet", Trebuchet MS !important;
}

.uncharted-wrap .section3 .innerContent .intro {
  background-color: rgba(6, 22, 32, 0.9);
  width: 410px;
  height: 147px;
  margin: 0 auto;
  margin-top: 46px;
}

.uncharted-wrap .section3 .innerContent .intro p {
  color: #fff;
  font-size: 14px;
  padding: 30px;
  text-align: center;
  line-height: 16px;
  -webkit-font-smoothing: antialiased !important;
}

.uncharted-wrap .section3 .innerContent .video {
  margin: 0 auto;
  width: 750px;
  text-align: center;
  margin-top: 50px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .uncharted-wrap .section3 {
    min-height: 611px;
  }
  .uncharted-wrap .section3 h2 {
    font-size: 18px;
    padding-top: 40px;
  }
  .uncharted-wrap .section3 h3 {
    font-size: 34px;
  }
  .uncharted-wrap .section3 .innerContent {
    max-width: 320px;
    width: 287px;
    margin: 0 auto;
  }
  .uncharted-wrap .section3 .innerContent img {
    width: 285px;
  }
  .uncharted-wrap .section3 .innerContent .intro {
    width: 285px;
    height: 280px;
    margin-top: 35px;
  }
  .uncharted-wrap .section3 .innerContent .intro p {
    font-size: 16px;
    font-family: "Trebuchet", Trebuchet MS !important;
    padding: 50px;
  }
  .uncharted-wrap .section3 .innerContent .video {
    width: 287px;
    margin-top: 15px;
  }
}

.uncharted-wrap .section4 {
  position: relative;
  background: url("images/05_Carlas-Creation.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: center center;
  height: 844px;
}

.uncharted-wrap .section4 h2 {
  font-size: 25px;
  color: #fff;
  text-align: center;
  font-family: "Trebuchet", Trebuchet MS !important;
  padding-top: 50px;
}

.uncharted-wrap .section4 h3 {
  font-size: 48px;
  color: #fff;
  text-align: center;
}

.uncharted-wrap .section4 .s4wrap {
  width: 750px;
  margin: 0 auto;
  position: relative;
}

.uncharted-wrap .section4 .s4wrap .innerContent {
  background-color: rgba(6, 22, 32, 0.9);
  min-height: 360px;
  margin: 20px auto;
  max-width: 438px;
  padding: 57px;
  position: absolute;
  left: -56px;
}

.uncharted-wrap .section4 .s4wrap .innerContent p {
  font-size: 20px;
  color: #fff;
  -webkit-font-smoothing: antialiased !important;
  font-style: italic;
  font-family: Georgia;
  line-height: 25px;
}

.uncharted-wrap .section4 .s4wrap .innerContent p:before {
  background: url("images/quote.png") 100% no-repeat;
  content: url("");
  top: 3px;
  left: 30px;
  width: 100px;
  height: 100px;
  position: absolute;
  display: inline-block;
}

.uncharted-wrap .section4 .s4wrap .innerContent p:last-child {
  font-size: 14px;
  font-family: "Trebuchet", Trebuchet MS !important;
  font-style: normal;
  font-size: 14px;
  padding-top: 30px;
  line-height: 16px;
}

.uncharted-wrap .section4 .s4wrap .innerContent p:last-child span {
  font-weight: bold;
}

.uncharted-wrap .section4 .s4wrap .section4Video {
  padding-top: 235px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .uncharted-wrap .section4 {
    height: 844px;
  }
  .uncharted-wrap .section4 .s4wrap {
    width: 285px;
    margin: 0 auto;
  }
  .uncharted-wrap .section4 .s4wrap .innerContent {
    width: 285px;
    left: 0;
    display: block;
    text-align: center;
    padding: 42px;
  }
  .uncharted-wrap .section4 .s4wrap .innerContent p {
    font-size: 20px;
  }
  .uncharted-wrap .section4 .s4wrap .innerContent p:last-child {
    padding-top: 10px;
  }
  .uncharted-wrap .section4 .s4wrap .section4Video {
    padding-top: 0;
  }
  .uncharted-wrap .section4 .s4wrap .section4Video img {
    width: 100%;
    padding-top: 505px;
  }
}

.uncharted-wrap .section5 {
  position: relative;
  background: url("images/06_Alastairs-Adventure.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: center center;
  height: 844px;
}

.uncharted-wrap .section5 h2 {
  font-size: 25px;
  color: #fff;
  text-align: center;
  font-family: "Trebuchet", Trebuchet MS !important;
  padding-top: 50px;
}

.uncharted-wrap .section5 h3 {
  font-size: 48px;
  color: #fff;
  text-align: center;
}

.uncharted-wrap .section5 .s4wrap {
  width: 750px;
  margin: 0 auto;
  position: relative;
}

.uncharted-wrap .section5 .s4wrap .innerContent {
  background-color: rgba(6, 22, 32, 0.9);
  min-height: 334px;
  margin: 40px auto;
  max-width: 474px;
  padding: 66px 56px 30px 70px;
  position: absolute;
  right: -56px;
}

.uncharted-wrap .section5 .s4wrap .innerContent p {
  font-size: 21px;
  color: #fff;
  -webkit-font-smoothing: antialiased !important;
  font-style: italic;
  font-family: Georgia;
  line-height: 25px;
}

.uncharted-wrap .section5 .s4wrap .innerContent p:before {
  background: url("images/quote.png") 100% no-repeat;
  content: url("");
  top: 3px;
  left: 30px;
  width: 100px;
  height: 100px;
  position: absolute;
  display: inline-block;
}

.uncharted-wrap .section5 .s4wrap .innerContent p:last-child {
  font-size: 14px;
  font-family: "Trebuchet", Trebuchet MS !important;
  font-style: normal;
  font-size: 14px;
  padding-top: 30px;
  line-height: 16px;
}

.uncharted-wrap .section5 .s4wrap .innerContent p:last-child span {
  font-weight: bold;
}

.uncharted-wrap .section5 .s4wrap .innerContent p:last-child span.underline {
  text-decoration: underline;
}

.uncharted-wrap .section5 .s4wrap .section4Video {
  padding-top: 235px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .uncharted-wrap .section5 {
    height: 844px;
  }
  .uncharted-wrap .section5 .s4wrap {
    width: 285px;
    margin: 0 auto;
  }
  .uncharted-wrap .section5 .s4wrap .innerContent {
    width: 285px;
    left: 0;
    display: block;
    text-align: center;
    padding: 42px;
    right: 0;
  }
  .uncharted-wrap .section5 .s4wrap .innerContent p {
    font-size: 20px;
  }
  .uncharted-wrap .section5 .s4wrap .innerContent p:last-child {
    padding-top: 10px;
  }
  .uncharted-wrap .section5 .s4wrap .section4Video {
    padding-top: 0;
  }
  .uncharted-wrap .section5 .s4wrap .section4Video img {
    width: 100%;
    padding-top: 505px;
  }
}

.uncharted-wrap .section6 {
  position: relative;
  background: url("images/07_Immerse-Yourself.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: center center;
  height: 844px;
}

.uncharted-wrap .section6 h2 {
  font-size: 25px;
  color: #fff;
  text-align: center;
  font-family: "Trebuchet", Trebuchet MS !important;
  padding-top: 50px;
}

.uncharted-wrap .section6 h3 {
  font-size: 48px;
  color: #fff;
  text-align: center;
}

.uncharted-wrap .section7 {
  position: relative;
  background: url("images/08_Your-Adventure.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: center center;
  height: 920px;
}

.uncharted-wrap .section7 h2 {
  font-size: 25px;
  color: #fff;
  text-align: center;
  font-family: "Trebuchet", Trebuchet MS !important;
  padding-top: 50px;
}

.uncharted-wrap .section7 h3 {
  font-size: 48px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.uncharted-wrap .section7 .s7wrap {
  width: 883px;
  margin: 0 auto;
  position: relative;
  height: 695px;
  padding-top: 16px;
}

.uncharted-wrap .section7 .s7wrap .innerContent {
  max-width: 500px;
  background-color: rgba(6, 22, 32, 0.9);
  padding: 20px;
  position: absolute;
  height: 670px;
}

.uncharted-wrap .section7 .s7wrap .innerContent p {
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  padding-bottom: 24px;
  -webkit-font-smoothing: antialiased !important;
  width: 90%;
  margin: 0 auto;
}

.uncharted-wrap .section7 .s7wrap .innerContent p:nth-child(1) {
  text-align: center;
  font-size: 14px;
  font-family: "Trebuchet", Trebuchet MS !important;
  margin-top: 20px;
}

.uncharted-wrap .section7 .s7wrap .innerContent p:nth-child(2) {
  text-align: center;
  font-size: 14px;
  font-family: "Trebuchet", Trebuchet MS !important;
}

.uncharted-wrap .section7 .s7wrap .innerContent li {
  font-size: 14px;
  color: #fff;
  padding-bottom: 29px;
  -webkit-font-smoothing: antialiased !important;
  position: relative;
  margin-left: 50px;
  line-height: 21px;
}

.uncharted-wrap .section7 .s7wrap .innerContent li:nth-child(1) {
  width: 86%;
}

.uncharted-wrap .section7 .s7wrap .innerContent li:nth-child(1):before {
  content: "1.";
  position: absolute;
  font-size: 48px;
  font-family: Georgia;
  font-style: italic;
  left: -45px;
  bottom: 40px;
}

.uncharted-wrap .section7 .s7wrap .innerContent li:nth-child(2) {
  width: 81%;
}

.uncharted-wrap .section7 .s7wrap .innerContent li:nth-child(2):before {
  content: "2.";
  position: absolute;
  font-size: 48px;
  font-family: Georgia;
  font-style: italic;
  left: -50px;
  bottom: 38px;
}

.uncharted-wrap .section7 .s7wrap .innerContent li:nth-child(3) {
  width: 56%;
}

.uncharted-wrap .section7 .s7wrap .innerContent li:nth-child(3):before {
  content: "3.";
  position: absolute;
  font-size: 48px;
  font-family: Georgia;
  font-style: italic;
  left: -50px;
  bottom: 39px;
}

.uncharted-wrap .section7 .s7wrap .innerContent li:nth-child(4) {
  width: 42%;
}

.uncharted-wrap .section7 .s7wrap .innerContent li:nth-child(4):before {
  content: "4.";
  position: absolute;
  font-size: 48px;
  font-family: Georgia;
  font-style: italic;
  left: -50px;
  bottom: 39px;
}

.uncharted-wrap .section7 .s7wrap .carousel {
  position: relative;
}

.uncharted-wrap .section7 .s7wrap .carousel .carousel-slide1 {
  position: absolute;
  width: 300px;
  right: 0px;
  width: 350px;
  right: 13px;
  top: 364px;
}

.uncharted-wrap .section7 .s7wrap .carousel .carousel-slide2 {
  position: absolute;
  width: 300px;
  right: 63px;
  top: 156px;
}

.uncharted-wrap .section7 .s7wrap .carousel .carousel-slide3 {
  position: absolute;
  width: 240px;
  left: 270px;
  top: 537px;
}

.uncharted-wrap .section7 .s7wrap .carousel .carousel-slide4 {
  position: absolute;
  width: 170px;
  left: 340px;
  top: 413px;
}

.uncharted-wrap .section7 .s7wrap .carousel .carousel-slide5 {
  position: absolute;
  top: 608px;
  right: 193px;
  width: 170px;
}

.uncharted-wrap .section7 .s7wrap .carousel .carousel-slide6 {
  position: absolute;
  top: 608px;
  right: 14px;
  width: 170px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .uncharted-wrap .section7 {
    height: 1100px;
  }
  .uncharted-wrap .section7 .s7wrap {
    width: 280px;
  }
  .uncharted-wrap .section7 .s7wrap .innerContent {
    height: 870px;
    max-width: 280px;
    margin: 0 auto;
  }
  .uncharted-wrap .section7 .s7wrap .innerContent li {
    font-size: 14px;
    color: #fff;
    padding-bottom: 29px;
    -webkit-font-smoothing: antialiased !important;
    position: relative;
    margin-left: 50px;
    line-height: 16px;
  }
  .uncharted-wrap .section7 .s7wrap .innerContent li:nth-child(1) {
    width: 63%;
  }
  .uncharted-wrap .section7 .s7wrap .innerContent li:nth-child(2) {
    width: 67%;
  }
  .uncharted-wrap .section7 .s7wrap .innerContent li:nth-child(3) {
    width: 80%;
  }
  .uncharted-wrap .section7 .s7wrap .innerContent li:nth-child(4) {
    width: 66%;
  }
  .uncharted-wrap .section7 .s7wrap .carousel {
    display: none;
  }
}

.uncharted-wrap .section8 {
  position: relative;
  background: url("images/09_The-Collection_Desktop.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: center center;
  height: 844px;
}

.uncharted-wrap .section8 h2 {
  font-size: 33px;
  color: #16577f;
  text-align: center;
  font-family: "Trebuchet", Trebuchet MS !important;
  padding-top: 100px;
}

.uncharted-wrap .section8 h3 {
  font-size: 48px;
  color: #fff;
  text-align: center;
}

.uncharted-wrap .section8 .s8wrap {
  max-width: 648px;
  margin: 0 auto;
  position: relative;
}

.uncharted-wrap .section8 .s8wrap .innerContent {
  max-width: 325px;
  margin: 0 auto;
  right: 0;
  top: -29px;
  position: absolute;
}

.uncharted-wrap .section8 .s8wrap .innerContent p {
  max-width: 290px;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  color: #012132;
  line-height: 18px;
  -webkit-font-smoothing: antialiased !important;
}

.uncharted-wrap .section8 .s8wrap .innerContent p span {
  text-decoration: underline;
}

.uncharted-wrap .section8 .s8wrap .innerContent p a {
  text-decoration: underline;
  color: #012132;
}

.uncharted-wrap .section8 .s8wrap .innerContent .cta {
  width: 127px;
  background: #16577f;
  padding: 9px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .uncharted-wrap .section8 {
    background: url("images/09_The-Collection_Mobile.jpg") 50% 50% no-repeat;
    height: 660px;
    background-position: center center;
    background-size: cover;
  }
  .uncharted-wrap .section8 h2 {
    padding-top: 50px;
  }
  .uncharted-wrap .section8 .s8wrap {
    max-width: 100%;
  }
  .uncharted-wrap .section8 .s8wrap .innerContent {
    max-width: 100%;
    position: relative;
    top: 0;
  }
  .uncharted-wrap .section8 .s8wrap .innerContent p {
    padding-top: 30px;
    max-width: 230px;
    color: #000;
  }
}
