// overwriting main stylesheet
.static_content_test .mb_page_wrapper * {
    box-sizing: inherit!important;
}

.mb_page_wrapper {
	width: 100%!important;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
	body {
		min-width: 100%!important;
	}
}