.section3 {
		position: relative;
		background: url("MBPromoImages/Website_Assets/into-the-uncharted2/04_Cape-York.jpg") 50% 50% no-repeat;
		background-size: cover;
	    // background-attachment: fixed;
	    background-position: center center; 
	    min-height: 846px;

	    h2 {
				font-size: 25px;
				color: #16577f;
				font-family: 'Trebuchet', Trebuchet MS!important;
				text-align: center;
				padding-top: 35px;
				margin: 0 auto;
			}

		h3 {
				font-size: 48px;
				text-align: center;
				color: #16577f;
				font-weight: normal;
			    padding-top: 6px;
			    font-family: 'Trebuchet', Trebuchet MS!important;
			}


	    .innerContent {

	    	.intro {
	    		background-color: rgba(6, 22, 32, 0.9);
				width: 410px;
				height: 147px;
				margin: 0 auto;
				margin-top: 46px;
				p {
					color: #fff;
					font-size: 14px;
					padding: 30px;
					text-align: center;
					line-height: 16px;
					-webkit-font-smoothing: antialiased !important;

				}
	    	}

			.video {
				position: relative;
					margin: 0 auto;
					width:750px;
					text-align: center;
					margin-top: 50px;
					.player {
						position: absolute;
  						top: 50%;
						left: 50%;
					    -webkit-transform: translate(-50%, -50%);
				    	-ms-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						width: 70px;
						height: 70px;
						-moz-border-radius: 50px;
						-webkit-border-radius: 50px;
						border-radius: 50px;
						border: 3px solid #fff;
						cursor: pointer;
						img {
							position: absolute;
							width: 35px;
  							top: 10px;
							left: 16px;;

						}
					}
				}

	    }
			



} //section3


@media only screen and (min-width: 0px) and (max-width : 767px) { 

	.section3 {
		min-height: 611px;

	h2 {
		font-size: 18px;
		padding-top: 40px;
	}

	h3 {
		font-size: 34px;
		padding: 0;
    	margin: 0;
	}

	.innerContent {
		max-width: 320px;
		width: 287px;
	    margin: 0 auto;
			img {
				width: 285px;
			}
			.intro {
				width: 285px;
				height: 280px;
			    margin-top: 35px;

				p {
					font-size: 16px;
					font-family: 'Trebuchet', Trebuchet MS!important;
				    padding: 40px;
				    line-height: 19px;
				}
			}
				.video {
					width: 287px;
					margin-top: 15px;
					
			}
		}
	}
}



