.section7 {
  position: relative;
  background: url("MBPromoImages/Website_Assets/into-the-uncharted/08_Your-Adventure.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: center center;
  height: 920px;
}

.section7 h2 {
  font-size: 25px;
  color: #fff;
  text-align: center;
  font-family: "Trebuchet", Trebuchet MS !important;
  padding-top: 50px;
}

.section7 h3 {
  font-size: 48px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.section7 .s7wrap {
  width: 883px;
  margin: 0 auto;
  position: relative;
  height: 695px;
  padding-top: 16px;
}

.section7 .s7wrap img:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.section7 .s7wrap .innerContent {
  max-width: 500px;
  background-color: rgba(6, 22, 32, 0.9);
  padding: 20px;
  position: absolute;
  height: 670px;
}

.section7 .s7wrap .innerContent p {
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  padding-bottom: 24px;
  -webkit-font-smoothing: antialiased !important;
  width: 90%;
  margin: 0 auto;
}

.section7 .s7wrap .innerContent p:nth-child(1) {
  text-align: center;
  font-size: 14px;
  font-family: "Trebuchet", Trebuchet MS !important;
  margin-top: 20px;
}

.section7 .s7wrap .innerContent p:nth-child(2) {
  text-align: center;
  font-size: 14px;
  font-family: "Trebuchet", Trebuchet MS !important;
}

.section7 .s7wrap .innerContent li {
  font-size: 14px;
  color: #fff;
  padding-bottom: 29px;
  -webkit-font-smoothing: antialiased !important;
  position: relative;
  margin-left: 50px;
  line-height: 21px;
}

.section7 .s7wrap .innerContent li:nth-child(1) {
  width: 86%;
}

.section7 .s7wrap .innerContent li:nth-child(1):before {
  content: "1.";
  position: absolute;
  font-size: 48px;
  font-family: Georgia;
  font-style: italic;
  left: -45px;
  bottom: 40px;
}

.section7 .s7wrap .innerContent li:nth-child(2) {
  width: 81%;
}

.section7 .s7wrap .innerContent li:nth-child(2):before {
  content: "2.";
  position: absolute;
  font-size: 48px;
  font-family: Georgia;
  font-style: italic;
  left: -50px;
  bottom: 38px;
}

.section7 .s7wrap .innerContent li:nth-child(3) {
  width: 56%;
}

.section7 .s7wrap .innerContent li:nth-child(3):before {
  content: "3.";
  position: absolute;
  font-size: 48px;
  font-family: Georgia;
  font-style: italic;
  left: -50px;
  bottom: 39px;
}

.section7 .s7wrap .innerContent li:nth-child(4) {
  width: 42%;
}

.section7 .s7wrap .innerContent li:nth-child(4):before {
  content: "4.";
  position: absolute;
  font-size: 48px;
  font-family: Georgia;
  font-style: italic;
  left: -50px;
  bottom: 39px;
}

.section7 .s7wrap .carousel {
  position: relative;
}

.section7 .s7wrap .carousel .carousel-slide1 {
  position: absolute;
  width: 300px;
  right: 0px;
  width: 350px;
  right: 13px;
  top: 364px;
}

.section7 .s7wrap .carousel .carousel-slide2 {
  position: absolute;
  width: 300px;
  right: 63px;
  top: 156px;
}

.section7 .s7wrap .carousel .carousel-slide3 {
  position: absolute;
  width: 240px;
  left: 270px;
  top: 537px;
}

.section7 .s7wrap .carousel .carousel-slide4 {
  position: absolute;
  width: 170px;
  left: 340px;
  top: 413px;
}

.section7 .s7wrap .carousel .carousel-slide5 {
  position: absolute;
  top: 608px;
  right: 193px;
  width: 170px;
}

.section7 .s7wrap .carousel .carousel-slide6 {
  position: absolute;
  top: 608px;
  right: 14px;
  width: 170px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .section7 {
    height: 1284px;
  }
  .section7 .s7wrap {
    width: 280px;
  }
  .section7 .s7wrap .innerContent {
    height: 870px;
    max-width: 280px;
    margin: 0 auto;
  }
  .section7 .s7wrap .innerContent li {
    font-size: 14px;
    color: #fff;
    padding-bottom: 29px;
    -webkit-font-smoothing: antialiased !important;
    position: relative;
    margin-left: 50px;
    line-height: 16px;
  }
  .section7 .s7wrap .innerContent li:nth-child(1) {
    width: 63%;
  }
  .section7 .s7wrap .innerContent li:nth-child(2) {
    width: 67%;
  }
  .section7 .s7wrap .innerContent li:nth-child(3) {
    width: 80%;
  }
  .section7 .s7wrap .innerContent li:nth-child(4) {
    width: 66%;
  }
  .section7 .s7wrap .carousel {
    width: 279px;
    margin-left: -21px;
  }
  .section7 .s7wrap .carousel .carousel-slide1, .section7 .s7wrap .carousel .carousel-slide2, .section7 .s7wrap .carousel .carousel-slide3, .section7 .s7wrap .carousel .carousel-slide4, .section7 .s7wrap .carousel .carousel-slide5, .section7 .s7wrap .carousel .carousel-slide6 {
    position: inherit;
    width: 100%;
  }
  .section7 .s7wrap .slick-slide img {
    width: 100% !important;
  }
  .section7 .s7wrap .slick-slide img:hover {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
  }
  .section7 .s7wrap .slick-prev, .section7 .s7wrap .slick-next {
    top: 46%;
  }
}
