// carousel-6
.carousel-6 {
  margin-top: 10px;

  .copy {
    top: 35px;
    width: 100%;
    text-align: center;

    h1 {
      line-height: 38px;
    }

    h2 {
      font-size: 47px;
      line-height: 38px;
    }

    p {
      line-height: 38px;
      font-size: 32px;
      padding-bottom: 29%;
      padding-top: 10px;
    }
  }
}
