// carousel-1
.carousel-1 {
  margin-top: 10px;

  .copy {
    top: 130px;
    right: 40px;
    width: 325px;
    text-align: center;

    h1 {
      line-height: 38px;
    }

    h2 {
      font-size: 47px;
      line-height: 38px;
    }

    p {
      line-height: 38px;
      font-size: 32px;
      padding-bottom: 50px;
      padding-top: 10px;
    }

    a:nth-child(3) {
      margin-right: 25px;

    }

    .cta-carousel-solid {
      background: #000;
      color: #fff;
      padding: 6px 33px;
      font-size: 14px;
      text-decoration: none;
    }
  }
}
