// lowerbanner-10
.copy-10 {
  position: absolute;
  top: 105px;
  left: 40px;
  text-align: center;

  h2 {
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 35px;
  }

  h3 {
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 20px;
    line-height: 44px;
  }

  p {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 30px;
  }

  h4 {
    font-size: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    margin-bottom: 30px;
  }

  .cta {
    background: #000;
    color: #fff;
    padding: 7px 17px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
