// lowerbanner-11
.copy-13 {
  position: absolute;
  top: 55px;
  right: 40px;
  text-align: center;

  h2 {
    font-size: 35px;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: normal;
    padding-bottom: 30px;
    padding-top: 10px;
  }

  h3 {
    font-size: 26px;
    font-weight: normal;
    line-height: 36px;
  }

  p {
    font-size: 22px;
    line-height: 19px;
    padding-bottom: 30px;
    padding-top: 5px;
  }

  h4 {
    font-size: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: normal;
    margin-bottom: 40px;
  }

  .cta {
    background: #000;
    color: #fff;
    padding: 7px 17px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }

  span {
    line-height: 43px;
  }
}
