// lowerbanner-24
.copy-24 {
  position: absolute;
  top: 80px;
  left: 25px;
  text-align: center;

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
  }

  p {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .cta {
    background: #000;
    color: #fff;
    padding: 7px 17px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
